body{
    font-family: Verdana, "Times New Roman";
    background-color: #000000;
    color: #ffffff;
    margin-top: 25px;
    margin-left: 25px;
    margin: 25px;
}

/*The level 1 heading is 48px, centered, and has padding of 15px*/
h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

/*The level 2 heading is 32px, with grey (#808080) text-shadow property that is offset 2px horizontally and 4px vertically*/
h2{
    font-size: 32px;
    text-shadow: #808080 2px 4px;
}


/*Paragraphs use 24px font and have 15px padding on the bottom and left only*/
p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/*Images match the following styles:
All images are 350px wide  (do not set a height)
All images are centered 
All images should have a white 10px dashed border*/
img{
    width: 350px;
    border: 10px dashed #ffffff;
    display: block;
    margin: 0 auto;

}

/*All divs must:
 be at least 100px tall (but will automatically be taller if needed)
 have 20px padding on all sides
have a 3px solid white border on all sides.
*/
div{
    min-height: 100px;
    padding: 20px;
    border-width: 3px;
    border-color: #ffffff; 
    border-style: solid;
}

/*The intro div should have a 15px border-radius (to curve the edges) and a 15px margin on the top*/
div.intro{
    margin-top: 15px;
    border-radius: 15px;
}

/*The red div has the following styles:
Background color is hexadecimal value for red
Text is aligned on the right side 
A left margin of 50px;
A  border of 3px on the bottom and 10px on the left;
*/
div.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px;
}

/*The blue div has the following styles
Background color is hex value for blue
Text is aligned on the left side
A right margin of 50px;
A  border of 10px on the right and 3px on the bottom;*/
div.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px;
}

/*The yellow div has the following styles
Background color is hexadecimal value for yellow 
Text is aligned on the right side
A left margin of 50px;
A border of 3px on the bottom and 10px on the left;

(Let's fix the color contrast here  – White on yellow is hard to read!)
The heading and paragraph text is black (use hexadecimal values)
 The heading uses a #c7e2c7 text-shadow that is offset 2px horizontally and 4px vertically
*/
div.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px;
    color: #000000;
}

.yellow h2{
    text-shadow: #c7e2c7 2px 4px;
}

/*The green div has the following styles
The background color is hexadecimal value for green  (Use #00EB00, #008500, or #00D800) **updated
Text is aligned on the left side
A right margin of 50px;
A  border of 10px on the right and 3px on the bottom;
*/
div.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px;
}

/*Any span elements should be underlined, have all uppercase, and not have any text-shadow.*/
* span{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

/*The footer should use a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
Paragraphs within the footer have centered 20px text and 10px of padding on the top, right, and bottom only. (No padding on the left.)*/
footer{
    background: linear-gradient(to left, #000000, #0000ff 25%, #0066ff 70%,#000000)
}
footer p{
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 0px;
}